html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background-color: white;
}

.hangman-game{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    text-align: center;
}