html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  background-color: white;
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.hangman-game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

.play-btn{
  font-size: 2rem;
}

.guess-btn{
  font-size: 2rem;
}

.letter-btn{
  font-size: 2rem;
}

.btn-click{
  font-size: 2rem;
  color: lightblue;
}
